.photo-grid__item {
    width: 284px;
}

@media screen and (max-width: 1200px) {
    .photo-grid__item {
        width: 300px;
    }
}

@media screen and (max-width: 940px) {
    .photo-grid__item {
        width: 352px;
    }
}

@media screen and (max-width: 740px) {
    .photo-grid__item {
        width: 288px;
    }
}