.cover__overlay {
    background-color: rgba(44, 42, 47, 0.3);
    width: 100%;
    color: white;
    text-decoration: none;
    transition: 1s;
}

.cover__overlay:hover {
    background-color: rgba(44, 42, 47, 0.8);
}