.place__website {
    max-width: 456px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: flex-end;
}

@media screen and (max-width: 740px) {
    .place__website {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}